<!DOCTYPE html>
<html>
<head>
	<title>Tag a person</title>
</head>
<body>
	<form action="/completetag" method="post">
		<label for="title">Person to tag: </label>
        <input type="text" name="uname" id="uname" placeholder="Enter the username of person you want to tag" />
		<br />
		<button type="submit">Finish Tagging</button>
		<br />
	</form>
	<form action="/backtohome" method="post">
		<button type="submit">Go Back</button>
	</form>
</body>
</html>
